<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Civic Tech Movement API</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/api/static/normalize.css" rel="stylesheet" type="text/css">
	<link href="/api/static/grid.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
        dt
        {
            display: list-item;
            list-style-type: disc;
            list-style-position: inside;
        }

        dd dt { list-style-type: circle }

        dd { margin-left: 1.5em; margin-bottom: .5em }

    </style>
</head>
<body class="container">
    <p>Read more about me at <a href="https://github.com/codeforamerica/cfapi#readme">codeforamerica/cfapi</a>.</p>
    <p>Some data:</p>
    <ul>
    <li><a href="#api-organizations">Organizations</a> (also in <a href="#api-organizations-geojson">GeoJSON</a>)</li>
    <li><a href="#api-projects">Projects</a></li>
    <li><a href="#api-events">Events</a></li>
    <li><a href="#api-stories">Stories</a></li>
    <li><a href="#api-issues">Issues</a></li>
    </ul>

    <h3>
        Organizations
        <a id="api-organizations" href="#api-organizations">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a list of organizations, also called brigades.
            </p>
            <h4>Endpoint</h4>
            <p>
                /api/organizations
            </p>
            <h4>Response Properties</h4>
            <dl>
                <dt>pages</dt>
                <dd>Dictionary of pagination links, optionally including <i>first</i>, <i>prev</i>, <i>next</i>, and <i>last</i>.</dd>
                <dt>objects</dt>
                <dd>List of <a href="#organization-properties">individual organizations</a>.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/organizations">{{ api_base }}/api/organizations</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "pages": {
    "next": …,
    "last": …
  },
  "objects": [
   {
     "type": "Brigade", 
     "name": "Open Oakland", 
     …
   },
   {
     "type": "Brigade", 
     "name": "Code for Chicago", 
     …
   },
   …
  ]
}</pre>
        </div>
    </div>

    <h3>
        Organizations GeoJSON
        <a id="api-organizations-geojson" href="#api-organizations-geojson">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a list of organizations, in
                <a href="http://geojson.org">GeoJSON format</a>
                for geographic applications..
            </p>
            <h4>Endpoint</h4>
            <p>
                /api/organizations.geojson
            </p>
            <h4>Response Properties</h4>
            <dl>
                <dt>type</dt>
                <dd><q>GeometryCollection</q></dd>
                <dt>features</dt>
                <dd>
                    List of <a href="http://geojson.org/geojson-spec.html#feature-objects">feature objects</a>
                    with these properties:
                    <dl>
                        <dt>type</dt>
                        <dd><q>Feature</q></dd>
                        <dt>id</dt>
                        <dd>Unique identifier for organization.</dd>
                        <dt>geometry</dt>
                        <dd>Point <a href="http://geojson.org/geojson-spec.html#geometry-objects">geometry object</a> with organization location.</dd>
                        <dt>properties</dt>
                        <dd>Feature properties, selected from <a href="#organization-properties">properties for a single organization</a>.</dd>
                    </dl>
                </dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/organizations.geojson">{{ api_base }}/api/organizations.geojson</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "type": "GeometryCollection", 
  "features": [
    {
      "type": "Feature", 
      "id": "Open_Oakland", 
      "geometry": {
        "type": "Point",
        "coordinates": [ -122.2711, 37.8044 ]
      }, 
      "properties": {
        "name": "Open Oakland", 
        "website": "http://openoakland.org/", 
        "city": "Oakland, CA", 
        …
      }
    }, 
    …
  ]
}</pre>
        </div>
    </div>

    <h3>
        One Organization
        <a id="api-one-organization" href="#api-one-organization">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a single organization.
            </p>
            <h4>Endpoint</h4>
            <p>
                /api/organization/{organization id}
            </p>
            <h4>
                Organization Properties
                <a id="organization-properties" href="#organization-properties">¶</a>
            </h4>
            <dl>
                <dt>name</dt>
                <dd>Offical name.</dd>
                <dt>website</dt>
                <dd>Informational website.</dd>
                <dt>city</dt>
                <dd>Home city of the organization.</dd>
                <dt>latitude</dt>
                <dd>Geographic latitude, in degrees.</dd>
                <dt>longitude</dt>
                <dd>Geographic longitude, in degrees.</dd>
                <dt>api_url</dt>
                <dd>Link to complete API information for this organization.</dd>
                <dt>started_on</dt>
                <dd>Optional start data for the organization.</dd>

                <dt>current_events</dt>
                <dd>Selection of current <a href="#event-properties">event dictionaries</a>.</dd>
                <dt>all_events</dt>
                <dd>Link to API information for all organization events.</dd>
                <dt>events_url</dt>
                <dd>URL source for event list.</dd>

                <dt>current_projects</dt>
                <dd>Selection of current <a href="#project-properties">project dictionaries</a>.</dd>
                <dt>all_projects</dt>
                <dd>Link to API information for all organization projects.</dd>
                <dt>projects_list_url</dt>
                <dd>URL source for projects list.</dd>

                <dt>current_stories</dt>
                <dd>Selection of current <a href="#story-properties">story dictionaries</a>.</dd>
                <dt>all_stories</dt>
                <dd>Link to API information for all organization stories.</dd>
                <dt>rss</dt>
                <dd>URL source for stories list.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/organizations/Open_Oakland">{{ api_base }}/api/organizations/Open_Oakland</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "type": "Brigade", 
  "name": "Open Oakland", 
  "website": "http://openoakland.org/", 
  "city": "Oakland, CA", 
  "latitude": 37.8044, 
  "longitude": -122.2711, 
  "api_url": "{{ api_base }}/api/organizations/Open_Oakland", 
  "started_on": "2012-12-25",

  "current_events": [ … ], 
  "all_events": "{{ api_base }}/api/organizations/Open_Oakland/events", 
  "events_url": "http://www.meetup.com/OpenOakland/", 

  "current_projects": [ … ], 
  "all_projects": "{{ api_base }}/api/organizations/Open_Oakland/projects", 
  "projects_list_url": "https://docs.google.com/spreadsheet/pub?key=0AgNZYWcpRBQ7dHRnTUJtd3QtYkR5bk5lUmpNMDlpSEE&amp;single=true&amp;gid=0&amp;output=csv", 

  "current_stories": [ … ], 
  "all_stories": "{{ api_base }}/api/organizations/Open_Oakland/stories", 
  "rss": ""
}</pre>
        </div>
    </div>

    <h3>
        Projects
        <a id="api-projects" href="#api-projects">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a list of projects.
            </p>
            <h4>Endpoints</h4>
            <p>
                /api/projects <br>
                /api/organization/{organization id}/projects
            </p>
            <h4>Response Properties</h4>
            <dl>
                <dt>pages</dt>
                <dd>Dictionary of pagination links, optionally including <i>first</i>, <i>prev</i>, <i>next</i>, and <i>last</i>.</dd>
                <dt>objects</dt>
                <dd>List of <a href="#project-properties">individual projects</a>.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/projects">{{ api_base }}/api/projects</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "pages": {
    "next": …,
    "last": …
  },
  "objects": [
  {
    "id": 1, 
    "name": "cityvoice", 
    "link_url": "http://www.cityvoiceapp.com/", 
    "code_url": "https://github.com/codeforamerica/cityvoice", 
    "api_url": "{{ api_base }}/api/projects/1", 
    "categories": "community engagement, housing", 
    "description": "A place-based call-in system for gathering and sharing community feedback", 
    "github_details": { … }, 
    "organization": { … }, 
    "organization_name": "Code for America", 
    "type": "web service"
  },
  {
    "id": 2, 
    "name": "Adopt-a-Thingie", 
    …
  },
   …
  ]
}</pre>
        </div>
    </div>

    <h3>
        One Project
        <a id="api-one-project" href="#api-one-project">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a single project.
            </p>
            <h4>Endpoint</h4>
            <p>
                /api/project/{project id}
            </p>
            <h4>
                Project Properties
                <a id="project-properties" href="#project-properties">¶</a>
            </h4>
            <dl>
                <dt>id</dt>
                <dd>Numeric ID.</dd>
                <dt>name</dt>
                <dd>Name.</dd>
                <dt>link_url</dt>
                <dd>Homepage.</dd>
                <dt>code_url</dt>
                <dd>Source code URL, e.g. a Github repository.</dd>
                <dt>categories</dt>
                <dd>String with comma-separated list of categories.</dd>
                <dt>description</dt>
                <dd>Prose description.</dd>
                <dt>api_url</dt>
                <dd>Link to complete API information for this project.</dd>

                <dt>organization</dt>
                <dd>Dictionary of <a href="#organization-properties">organization details</a>.</dd>
                <dt>organization_name</dt>
                <dd>Name of organization.</dd>
                <dt>type</dt>
                <dd>String type.</dd>
                <dt>github_details</dt>
                <dd>Dictionary of Github-specific information, for projects hosted on Github.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/projects/1">{{ api_base }}/api/projects/1</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "id": 1, 
  "name": "cityvoice", 
  "link_url": "http://www.cityvoiceapp.com/", 
  "code_url": "https://github.com/codeforamerica/cityvoice", 
  "api_url": "{{ api_base }}/api/projects/1", 
  "categories": "community engagement, housing", 
  "description": "A place-based call-in system for gathering and sharing community feedback", 
  "organization": { … }, 
  "organization_name": "Code for America", 
  "type": "web service", 
  "github_details":
  {
    "id": 10515516, 
    "contributors": [ … ], 
    "contributors_url": "https://api.github.com/repos/codeforamerica/cityvoice/contributors", 
    "created_at": "2013-06-06T00:12:30Z", 
    "description": "A place-based call-in system for gathering and sharing community feedback", 
    "forks_count": 18, 
    "homepage": "http://www.cityvoiceapp.com/", 
    "html_url": "https://github.com/codeforamerica/cityvoice", 
    "language": "Ruby", 
    "name": "cityvoice", 
    "open_issues": 38, 
    "owner": { … }, 
    "participation": [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 18, 13, 0, 0, 83, 20, 11, 25, 63, 66 ], 
    "project_needs": [], 
    "pushed_at": "2014-03-29T20:03:41Z", 
    "updated_at": "2014-03-29T20:03:41Z", 
    "watchers_count": 14
  }
}</pre>
        </div>
    </div>

    <h3>
        Events
        <a id="api-events" href="#api-events">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a list of events.
            </p>
            <h4>Endpoints</h4>
            <p>
                /api/events <br>
                /api/organization/{organization id}/events <br>
                /api/organization/{organization id}/events/upcoming_events <br>
                /api/organization/{organization id}/events/past_events
            </p>
            <h4>Response Properties</h4>
            <dl>
                <dt>pages</dt>
                <dd>Dictionary of pagination links, optionally including <i>first</i>, <i>prev</i>, <i>next</i>, and <i>last</i>.</dd>
                <dt>objects</dt>
                <dd>List of <a href="#event-properties">individual events</a>.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/events">{{ api_base }}/api/events</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "pages": {
    "next": …,
    "last": …
  },
  "objects": [
  {
    "id": 1, 
    "name": "OpenOakland Civic Hack Night", 
    "description": "&lt;p&gt;Join us for our weekly civic hack sessions inside City Hall.&lt;/p&gt;", 
    "event_url": "http://www.meetup.com/OpenOakland/events/qbjtcgytdbfb/", 
    "api_url": "{{ api_base }}/api/events/1", 
    "location": null, 
    "start_time": "2015-02-03 18:30:00 -0800", 
    "end_time": null, 
    "organization": { … }, 
    "organization_name": "Open Oakland", 
    "created_at": "2013-06-04 20:31:29"
  },
  {
    "id": 2, 
    "name": "Get Out There And Do Something", 
    …
  },
   …
  ]
}</pre>
        </div>
    </div>

    <h3>
        One Event
        <a id="api-one-event" href="#api-one-event">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a single event.
            </p>
            <h4>Endpoint</h4>
            <p>
                /api/event/{event id}
            </p>
            <h4>
                Event Properties
                <a id="event-properties" href="#event-properties">¶</a>
            </h4>
            <dl>
                <dt>id</dt>
                <dd>Numeric ID.</dd>
                <dt>name</dt>
                <dd>Name.</dd>
                <dt>description</dt>
                <dd>Description.</dd>
                <dt>event_url</dt>
                <dd>Link to page about event.</dd>
                <dt>api_url</dt>
                <dd>Link to complete API information for this event.</dd>
                <dt>location</dt>
                <dd>Optional location. Sometimes missing, and must be found in description.</dd>
                <dt>start_time</dt>
                <dd>Start time. In <q><code>YYYY-MM-DD HH:MM:SS ZZZZ</code></q> format, local to event if possible.</dd>
                <dt>end_time</dt>
                <dd>Optional end time. In <q><code>YYYY-MM-DD HH:MM:SS ZZZZ</code></q> format, local to event if possible.</dd>

                <dt>organization</dt>
                <dd>Dictionary of <a href="#organization-properties">organization details</a>.</dd>
                <dt>organization_name</dt>
                <dd>Name of organization.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/events/1">{{ api_base }}/api/events/1</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "id": 1, 
  "name": "OpenOakland Civic Hack Night", 
  "description": "&lt;p&gt;Join us for our weekly civic hack sessions inside City Hall.&lt;/p&gt;", 
  "event_url": "http://www.meetup.com/OpenOakland/events/qbjtcgytdbfb/", 
  "api_url": "{{ api_base }}/api/events/1", 
  "location": null, 
  "start_time": "2015-02-03 18:30:00 -0800", 
  "end_time": null, 
  "organization": { … }, 
  "organization_name": "Open Oakland", 
  "created_at": "2013-06-04 20:31:29"
}</pre>
        </div>
    </div>

    <h3>
        Stories
        <a id="api-stories" href="#api-stories">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a list of stories.
            </p>
            <h4>Endpoints</h4>
            <p>
                /api/stories <br>
                /api/organization/{organization id}/stories
            </p>
            <h4>Response Properties</h4>
            <dl>
                <dt>pages</dt>
                <dd>Dictionary of pagination links, optionally including <i>first</i>, <i>prev</i>, <i>next</i>, and <i>last</i>.</dd>
                <dt>objects</dt>
                <dd>List of <a href="#story-properties">individual stories</a>.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/stories">{{ api_base }}/api/stories</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "pages": {
    "next": …,
    "last": …
  },
  "objects": [
  {
    "id": 1, 
    "title": "Here Are Our Values", 
    "link": "http://www.codeforamerica.org/blog/2014/03/27/here-are-our-values/", 
    "organization": { … }, 
    "organization_name": "Code for San Francisco", 
    "type": "blog"
  },
  {
    "id": 2, 
    "name": "Get Out There And Do Something", 
    …
  },
   …
  ]
}</pre>
        </div>
    </div>

    <h3>
        One Story
        <a id="api-one-story" href="#api-one-story">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a single story.
            </p>
            <h4>Endpoint</h4>
            <p>
                /api/story/{story id}
            </p>
            <h4>
                Story Properties
                <a id="story-properties" href="#story-properties">¶</a>
            </h4>
            <dl>
                <dt>id</dt>
                <dd>Numeric ID.</dd>
                <dt>title</dt>
                <dd>Title.</dd>
                <dt>link</dt>
                <dd>Link.</dd>
                <dt>organization</dt>
                <dd>Dictionary of <a href="#organization-properties">organization details</a>.</dd>
                <dt>organization_name</dt>
                <dd>Name of organization.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/stories/1">{{ api_base }}/api/stories/1</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "id": 1, 
  "title": "Here Are Our Values", 
  "link": "http://www.codeforamerica.org/blog/2014/03/27/here-are-our-values/", 
  "organization": { … }, 
  "organization_name": "Code for San Francisco", 
  "type": "blog"
}</pre>
        </div>
    </div>

    <h3>
        Issues
        <a id="api-issues" href="#api-issues">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a list of project issues.
            </p>
            <h4>Endpoints</h4>
            <p>
                /api/issues <br>
                /api/issues/{issue id}
            </p>
            <h4>Response Properties</h4>
            <dl>
                <dt>pages</dt>
                <dd>Dictionary of pagination links, optionally including <i>first</i>, <i>prev</i>, <i>next</i>, and <i>last</i>.</dd>
                <dt>objects</dt>
                <dd>List of <a href="#issue-properties">individual issues</a>.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/issues">{{ api_base }}/api/issues</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "pages": {
    "next": …,
    "last": …
  },
  "objects": [
  {
    "id": 1,
    "title": "Write some tests",
    "api_url": "http://localhost:5000/api/issues/2",
    "body": "Start writing tests. ",
    "html_url": "https://github.com/sfbrigade/ballot_initiatives/issues/7",
    "labels": [ 
      {
        "color": "84b6eb",
        "name": "enhancement",
        "url": "https://api.github.com/repos/sfbrigade/ballot_initiatives/labels/enhancement"
      }
    ],
    "project": { … },
    "project_name": "ballot_initiatives",
  },
  {
    "id": 2,
    "title": "Import SFGOV data set",
    …  
  },
  …
  ]
}</pre>
        </div>
    </div>

    <h3>
        One Issue
        <a id="api-one-issue" href="#api-one-issue">¶</a>
    </h3>
    <div class="clearfix">
        <div class="half column">
            <p>
                Retrieve a single issue.
            </p>
            <h4>Endpoint</h4>
            <p>
                /api/issues/{issue id}
            </p>
            <h4>
                Issue Properties
                <a id="issue-properties" href="#issue-properties">¶</a>
            </h4>
            <dl>
                <dt>id</dt>
                <dd>Numeric ID.</dd>
                <dt>title</dt>
                <dd>Title.</dd>
                <dt>body</dt>
                <dd>Body.</dd>
                <dt>api_url</dt>
                <dd>API URL.</dd>
                <dt>html_url</dt>
                <dd>Github URL.</dd>
                <dt>labels</dt>
                <dd>Array of issue labels dictionaries</dd>
                <dt>project_name</dt>
                <dd>Name of project</dd>
                <dt>project</dt>
                <dd>Dictionary of <a href="#project-properties">project details</a>.</dd>
            </dl>
        </div>
        <div class="half column">
            <h4>Sample Request</h4>
            <p><code><a href="{{ api_base }}/api/issues/1">{{ api_base }}/api/issues/1</a></code></p>
            <h4>Sample Response</h4>
            <pre>{
  "id": 1,
  "title": "Write some tests",
  "api_url": "http://localhost:5000/api/issues/2",
  "body": "Start writing tests. ",
  "html_url": "https://github.com/sfbrigade/ballot_initiatives/issues/7",
  "labels": [ 
      {
          "color": "84b6eb",
          "name": "enhancement",
          "url": "https://api.github.com/repos/sfbrigade/ballot_initiatives/labels/enhancement"
      }
  ],
  "project": { … },
  "project_name": "ballot_initiatives",
}</pre>
        </div>
    </div>

</body>
</html>
