<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Civic Tech Movement API</title>
</head>
<body>
    <p>Read more about me at <a href="https://github.com/codeforamerica/civic-json-worker#readme">codeforamerica/civic-json-worker</a>.</p>
    <p>Some data:</p>
    <ul>
    <li><a href="api/organizations">Organizations</a> (also in <a href="api/organizations.geojson">GeoJSON</a>)</li>
    <li><a href="api/projects">Projects</a></li>
    <li><a href="api/events">Events</a></li>
    <li><a href="api/stories">Stories</a></li>
    </ul>
</body>
</html>
